:root {
  --mask: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-height: 100vh;
  max-width: 100vw;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 100vh;
  background-image: repeating-linear-gradient(
    60deg,
    #000 0px,
    #222 2px,
    #000 4px
  );
}

/* ---------------------------- WIZYTÓWKA ------------------------------ */

.card {
  margin: 3vh 1vw;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  max-height: 80vh;
  max-width: 100vw;
  background-image: repeating-linear-gradient(
    60deg,
    #000 0px,
    #222 2px,
    #000 4px
  );
  transform: rotateX(0) rotateY(0);
  opacity: 1;
  /* ------------------------- CHANGE LATER --------------------------- */
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 1px 1px #03e9f4, 0 0 35px #03e9f4;
  z-index: 3;
  transition: 1s;
}

.card:focus,
.card:hover {
  box-shadow: 0 0 1px 1px #00ff6c, 0 0 35px #00ff6c;
}

.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  z-index: -1;
  border-radius: 30px;
}

.facebook,
.home {
  -webkit-appearance: none;
}
.facebook-item,
.telephone-item,
.mail-item,
.discord-item {
  font-size: 4rem;
}

.facebook-item,
.telephone-item,
.mail-item,
.discord-item,
.home-item {
  padding-top: 0.5em;
  z-index: 1000;
  position: relative;
}

.home-item i,
.facebook-item i,
.telephone-item i,
.discord-item i,
.mail-item i {
  color: #03e9ff80;
}

/* ---------------------------- WIZYTÓWKA END --------------------------- */

/* --------------------- STRONY discord, mail, telefon ------------------ */

.tab label:hover {
  cursor: pointer;
}

[type="radio"] {
  opacity: 0;
}

.mail-container,
.number-container,
.discord-container {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}

.mail-container > *,
.number-container > *,
.discord-container > * {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.6s ease;
}

#mail:checked ~ label,
#telephone:checked ~ label,
#discord:checked ~ label {
  z-index: 2;
}

#mail:checked ~ label ~ .mail-container,
#telephone:checked ~ label ~ .number-container,
#discord:checked ~ label ~ .discord-container {
  z-index: 1;
}

#mail:checked ~ label ~ .mail-container > *,
#telephone:checked ~ label ~ .number-container > *,
#discord:checked ~ label ~ .discord-container > * {
  opacity: 1;
  transform: translateY(0);
}

/* ------------------- discord, mail, telefon END ------------- */

/*  ------------------------- FACEBOOK ----------------------------- */
.facebook-item {
  grid-column: 4;
  grid-row: 1;
}

.facebook-item:hover i {
  filter: drop-shadow(0 0 1px #03e9ff);
  animation: grow 1000ms linear infinite;
}

.facebook-item i:hover {
  filter: drop-shadow(0 0 5px #17a9fd);
  transform: scale(1.15);
  color: #17a9fd;
  animation-play-state: paused;
}

/* --------------------------- TELEPHONE --------------------- */
.telephone-item {
  grid-column: 6;
  grid-row: 1;
}
.telephone-item:hover i {
  filter: drop-shadow(0 0 1px #03e9ff);
  animation: grow 1000ms linear infinite;
}

.telephone-item i:hover {
  filter: drop-shadow(0 0 5px #00ff6c);
  transform: scale(1.15);
  color: #00ff6c;
  animation-play-state: paused;
  cursor: pointer;
}

#telephone:checked ~ .number-container {
  background: #22222280;
}

#telephone:checked + .telephone-item i {
  transform: translateY(-20%);
  color: #00ff6c66;
}

.number-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.letter {
  width: 2rem;
  display: inline-block;
  /* vertical-align: middle; */
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  color: #eee;
}
.letter::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;
}
#telephone:checked ~ .number-container .letters .letter:nth-child(1):before {
  content: "9938102675";
  margin-top: -96px;
  animation-name: letter1;
  animation-duration: 2.368s;
  animation-delay: 0.26s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(2):before {
  content: "3867925104";
  margin-top: -216px;
  animation-name: letter2;
  animation-duration: 0.216s;
  animation-delay: 0.94s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(3)::before {
  content: "1364758920";
  margin-top: -192px;
  animation-name: letter3;
  animation-duration: 3.0577777778s;
  animation-delay: 0.14s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(4)::before {
  content: "9840536217";
  margin-top: 0px;
  animation-name: letter4;
  animation-duration: 1.582s;
  animation-delay: 0.57s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(5)::before {
  content: "8976019253";
  margin-top: -48px;
  animation-name: letter5;
  animation-duration: 2.5066666667s;
  animation-delay: 0.06s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(6)::before {
  content: "5936724810";
  margin-top: -120px;
  animation-name: letter6;
  animation-duration: 0.1333333333s;
  animation-delay: 0.96s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(7)::before {
  content: "3576048129";
  margin-top: -216px;
  animation-name: letter7;
  animation-duration: 0.936s;
  animation-delay: 0.74s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(8)::before {
  content: "5037609821";
  margin-top: -48px;
  animation-name: letter8;
  animation-duration: 1.04s;
  animation-delay: 0.61s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(9)::before {
  content: "9575341620";
  margin-top: -192px;
  animation-name: letter9;
  animation-duration: 2.0977777778s;
  animation-delay: 0.41s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(10)::before {
  content: "6698041273";
  margin-top: -144px;
  animation-name: letter10;
  animation-duration: 0.9257142857s;
  animation-delay: 0.73s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(11)::before {
  content: "5712308469";
  margin-top: -144px;
  animation-name: letter11;
  animation-duration: 2.7085714286s;
  animation-delay: 0.21s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(12)::before {
  content: "2330795641";
  margin-top: -216px;
  animation-name: letter12;
  animation-duration: 1.152s;
  animation-delay: 0.68s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(13)::before {
  content: "6291240875";
  margin-top: -192px;
  animation-name: letter13;
  animation-duration: 0.2844444444s;
  animation-delay: 0.92s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(14)::before {
  content: "5131247096";
  margin-top: -192px;
  animation-name: letter14;
  animation-duration: 1.2088888889s;
  animation-delay: 0.66s;
  animation-fill-mode: forwards;
}

#telephone:checked ~ .number-container .letters .letter:nth-child(15)::before {
  content: "0298613572";
  margin-top: -96px;
  animation-name: letter15;
  animation-duration: 3.04s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
}

@keyframes letter1 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter2 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter3 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter4 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter5 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter7 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter8 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter9 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter10 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter11 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter12 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter13 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter14 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 3rem;
  }
}

@keyframes letter15 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 3rem;
  }
}

/* ---------------------------- MAIL --------------------------- */
.mail-item {
  grid-column: 8;
  grid-row: 1;
}
.mail-item:hover i {
  filter: drop-shadow(0 0 1px #03e9ff);
  animation: grow 1000ms linear infinite;
}

.mail-item i:hover {
  filter: drop-shadow(0 0 5px #f4f4f4);
  transform: scale(1.15);
  color: #f1cf77;
  animation-play-state: paused;
  cursor: pointer;
}

#mail:checked + .mail-item i {
  transform: translateY(-20%);
  color: #f1cf7766;
}

.mail-container {
  font-family: "Poppins", sans-serif;
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 0;
}

#mail:checked ~ .mail-container {
  opacity: 1;
  background-color: #f4f4f44d;
}

.mail-container .box {
  width: max-content;
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mail-container .box .title {
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

#mail:checked ~ .mail-container .box .title .block {
  width: 0%;
  height: inherit;
  background: #00ff6c;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}

#mail:checked ~ .mail-container .box .title h1 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 3rem;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
  width: max-content;
}
#mail:checked ~ .mail-container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.5s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #00ff6c;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #00ff6c;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 10px;
    height: 10px;
    background: #00ff6c;
    border: 0px solid #222;
    bottom: 18px;
    right: 111px;
  }
}

/* -------------------------- DISCORD --------------------------- */
.discord-item {
  grid-column: 10;
  grid-row: 1;
}
.discord-item:hover i {
  filter: drop-shadow(0 0 1px #03e9ff);
  animation: grow 1000ms linear infinite;
}

.discord-item i:hover {
  filter: drop-shadow(0 0 5px #5865f2);
  transform: scale(1.15);
  color: #5865f2;
  animation-play-state: paused;
  cursor: pointer;
}

#discord:checked + .discord-item i {
  transform: translateY(-20%);
  color: #5865f266;
}

.discord-container {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.typing {
  font-size: 3rem;
}

#discord:checked ~ .discord-container .typing::before {
  content: "";
  animation: text 4s step-end forwards;
}

@keyframes text {
  0% {
    content: "";
  }
  10% {
    content: "G";
  }
  16% {
    content: "Gr";
  }
  22% {
    content: "Gre";
  }
  28% {
    content: "Grea";
  }
  34% {
    content: "Great";
  }
  40% {
    content: "Greatp";
  }
  46% {
    content: "Greatpe";
  }
  52% {
    content: "Greatpet";
  }
  58% {
    content: "Greatpete";
  }
  64% {
    content: "Greatpete#";
  }
  70% {
    content: "Greatpete#1";
  }
  76% {
    content: "Greatpete#16";
  }
  82% {
    content: "Greatpete#163";
  }
  88% {
    content: "Greatpete#1636";
  }
  100% {
    content: "Greatpete#1636";
  }
}

#discord:checked ~ .discord-container .typing::after {
  content: "";
  display: inline-block;
  width: 0.1em;
  height: 0.95em;
  margin-left: 0.1em;
  background-color: #f4f4f4;
  animation: blink 0.75s ease-in-out infinite;
}

@keyframes blink {
  0%,
  25%,
  100% {
    opacity: 1;
  }
  50%,
  75% {
    opacity: 0;
  }
}
/* -------------------------- HOME ------------------------------- */

.home-item {
  grid-column: 2;
  grid-row: 1;
  font-size: 4rem;
  transform: scale(0.95);
}

.home-item:hover i {
  filter: drop-shadow(0 0 1px #03e9ff);
  transform: translateY(-20%);
  animation: grow 1000ms linear infinite;
}

.home-item i:hover {
  filter: drop-shadow(0 0 5px #f00);
  transform: translateY(-20%) scale(1.15);
  color: #ff0000;
  animation-play-state: paused;
}

/* ----------------------------------------------------------------- */

@keyframes grow {
  0% {
    transform: translateY(-20%) scale(0.9);
  }
  50% {
    transform: translateY(-20%) scale(1.1);
  }
  100% {
    transform: translateY(-20%) scale(0.9);
  }
}

/*  ---------LET'S WORK TOGETHER -------------------- */

.greatpete {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 500px;
  font-family: "Comfortaa", cursive;
  max-width: 100vw;
  margin-bottom: 2vh;
}

.banner {
  display: flex;
}
.panel {
  position: relative;
  width: 21px;
  height: 120px;
  overflow: hidden;
  animation: rotate 10s var(--delay) infinite ease-in-out alternate;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotateX(0deg);
  }
  90%,
  100% {
    transform: rotateX(720deg);
  }
}
.panel::before {
  display: flex;
  position: absolute;
  left: var(--left);
  content: "Let's work together =)";
  font-size: 80px;
  width: max-content;
  color: #ff8300cc;
}
.panel:nth-child(1) {
  --left: 0px;
  --delay: 0s;
  opacity: 0.8;
}
.panel:nth-child(2) {
  --left: -21px;
  --delay: 0.1s;
  opacity: 0.8;
}
.panel:nth-child(3) {
  --left: -42px;
  --delay: 0.2s;
  opacity: 0.8;
}
.panel:nth-child(4) {
  --left: -63px;
  --delay: 0.3s;
  opacity: 0.8;
}
.panel:nth-child(5) {
  --left: -84px;
  --delay: 0.4s;
  opacity: 0.8;
}
.panel:nth-child(6) {
  --left: -105px;
  --delay: 0.5s;
  opacity: 0.8;
}
.panel:nth-child(7) {
  --left: -126px;
  --delay: 0.6s;
  opacity: 0.8;
}
.panel:nth-child(8) {
  --left: -147px;
  --delay: 0.7s;
  opacity: 0.8;
}
.panel:nth-child(9) {
  --left: -168px;
  --delay: 0.8s;
  opacity: 0.8;
}
.panel:nth-child(10) {
  --left: -189px;
  --delay: 0.9s;
  opacity: 0.8;
}
.panel:nth-child(11) {
  --left: -210px;
  --delay: 1s;
  opacity: 0.8;
}
.panel:nth-child(12) {
  --left: -231px;
  --delay: 1.1s;
  opacity: 0.8;
}
.panel:nth-child(13) {
  --left: -252px;
  --delay: 1.2s;
  opacity: 0.8;
}
.panel:nth-child(14) {
  --left: -273px;
  --delay: 1.3s;
  opacity: 0.8;
}
.panel:nth-child(15) {
  --left: -294px;
  --delay: 1.4s;
  opacity: 0.8;
}
.panel:nth-child(16) {
  --left: -315px;
  --delay: 1.5s;
  opacity: 0.8;
}
.panel:nth-child(17) {
  --left: -336px;
  --delay: 1.6s;
  opacity: 0.8;
}
.panel:nth-child(18) {
  --left: -357px;
  --delay: 1.7s;
  opacity: 0.8;
}
.panel:nth-child(19) {
  --left: -378px;
  --delay: 1.8s;
  opacity: 0.8;
}
.panel:nth-child(20) {
  --left: -399px;
  --delay: 1.9s;
  opacity: 0.8;
}
.panel:nth-child(21) {
  --left: -420px;
  --delay: 2s;
  opacity: 0.8;
}
.panel:nth-child(22) {
  --left: -441px;
  --delay: 2.1s;
  opacity: 0.8;
}
.panel:nth-child(23) {
  --left: -462px;
  --delay: 2.2s;
  opacity: 0.8;
}
.panel:nth-child(24) {
  --left: -483px;
  --delay: 2.3s;
  opacity: 0.8;
}

.panel:nth-child(25) {
  --left: -504px;
  --delay: 2.4s;
  opacity: 0.8;
}

.panel:nth-child(26) {
  --left: -525px;
  --delay: 2.5s;
  opacity: 0.8;
}

.panel:nth-child(27) {
  --left: -546px;
  --delay: 2.6s;
  opacity: 0.8;
}

.panel:nth-child(28) {
  --left: -567px;
  --delay: 2.7s;
  opacity: 0.8;
}

.panel:nth-child(29) {
  --left: -588px;
  --delay: 2.8s;
  opacity: 0.8;
}

.panel:nth-child(30) {
  --left: -609px;
  --delay: 2.9s;
  opacity: 0.8;
}

.panel:nth-child(31) {
  --left: -630px;
  --delay: 3s;
  opacity: 0.8;
}

.panel:nth-child(32) {
  --left: -651px;
  --delay: 3.1s;
  opacity: 0.8;
}

.panel:nth-child(33) {
  --left: -672px;
  --delay: 3.2s;
  opacity: 0.8;
}

.panel:nth-child(34) {
  --left: -693px;
  --delay: 3.3s;
  opacity: 0.8;
}

.panel:nth-child(35) {
  --left: -714px;
  --delay: 3.4s;
  opacity: 0.8;
}

.panel:nth-child(36) {
  --left: -735px;
  --delay: 3.5s;
  opacity: 0.8;
}

.panel:nth-child(37) {
  --left: -756px;
  --delay: 3.6s;
  opacity: 0.8;
}

.panel:nth-child(38) {
  --left: -777px;
  --delay: 3.7s;
  opacity: 0.8;
}

.panel:nth-child(39) {
  --left: -798px;
  --delay: 3.8s;
  opacity: 0.8;
}

.panel:nth-child(40) {
  --left: -819px;
  --delay: 3.9s;
  opacity: 0.8;
}

.panel:nth-child(41) {
  --left: -840px;
  --delay: 4s;
  opacity: 0.8;
}

@media (max-width: 1450px) {
  .card {
    max-height: 80vh;
    max-width: 80vw;
  }

  .banner {
    transform: scale(0.8);
  }
}

@media (max-width: 1000px) {
  .card {
    max-height: 80vh;
    max-width: 100vw;
  }

  .banner {
    transform: scale(0.65);
  }

  .title {
    transform: scale(0.65);
  }

  /* .title h1 {
    width: 100vw; 
    border: 2px solid red;
    transform: scale(.65);
  } */

  .typing {
    font-size: 3.5rem;
  }

  .facebook-item,
  .telephone-item,
  .mail-item,
  .discord-item,
  .home-item {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .banner {
    transform: scale(0.5);
  }

  .title {
    transform: scale(0.65);
  }

  .typing {
    font-size: 3rem;
  }

  .letter {
    width: 1.67rem;
    font-size: 2rem;
  }

  .facebook-item,
  .telephone-item,
  .mail-item,
  .discord-item,
  .home-item {
    font-size: 2.5rem;
  }
}

@media (max-width: 470px) {
  .banner {
    transform: scale(0.31);
  }

  .title {
    transform: scale(0.45);
  }

  .typing {
    font-size: 1.5rem;
  }

  .letter {
    width: 1.3rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 380px) {
  .letter {
    width: 1.15rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 340px) {
  .letter {
    width: 1.03rem;
    font-size: 1.5rem;
  }
}
